/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
                    ---------MY CODE HERE!!! --------
   ========================================================================== */

/* **** ============ base header / footer styles ============ **** */

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  font-size: 1.1em;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.3em;
  line-height: 1.2;
}

h2 {
  font-size: 1.9em;
  line-height: 1.2;
}

h3 {
  font-size: 1.1em;
  line-height: 1.2;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: .88em;
}

address {
  font-style: normal;
  
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
header {
  background-color: #202322;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  
  
  
}
header .logo-div {
  display: flex;
  width: 100%;
  height: 42px;
  margin: 15px 0 10px 0;
  object-fit: cover;
  text-align: center;
}

#logo {
  max-width: 61%;
}

header a {
  color: #e2e3ed;
}

header a:visited {
  color: #e2e3ed;
}

.header-divider {
  width: 100%;
  border-bottom: solid 1px #3a3a3a;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 16px 0;
  padding: 0;
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  /* border: dotted darkcyan 1px; */
}



footer {
  flex-direction: column;
  background-color: #202322;
  color: #e2e3ed;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 56%;
  margin: 50px 0;
}

footer .footer-content {
  text-align: center; 
}

footer address {
  font-style: normal;
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  margin-bottom: 10px;
}

footer h3 {
  margin: 0 0 20px 0;
}

/* **** ============ Mobile Styles - Homepage ============ **** */

/* -- Hero Area -- */

.hero-area {
  display: flex;
  justify-content: center;
  flex-wrap: row wrap;
  /* width: 100%; */
  background: url(../img/jake-melara-30679-unsplash.jpg);
  background-position: 50% 30%;
  background-size: 334%;
  height: 500px;
  
}

.hero-area .content-wrapper {
  /* display: flex; */
  width: 89%;

}

.hero-area h1 {
  color: #e2e3ed;
  margin-top: 50px; /* 50px total but looks like there's a few px above the h1 - not sure how to get rid of it */
}
/* when I added the width to the hero area content wrapper it changed the header alignment! */

/* -- ASIDE (form) -- */

aside {
  background-color: #527158;
  color: #e2e3ed;
}
aside .content-wrapper {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 0 54px 0;
}  

aside h3 {
  margin: 0;
}

aside p {
  margin: 8px 0 30px 0;
}
aside input {
  height: 50px;
  
}

/* aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.form-description, .form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row wrap;
  width: 89%;
  
}

.form input {
  width: 320px;
  width: 100%;
  
}

.form input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #e1e2ea;
  border: none;
  margin: 18px 0;
  color: #9d9ea4;
}

.form input[type=button] {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #2a423a;
  color: #e1e2ea;
  border: none;
  text-transform: uppercase;

}
/* -- FEATURES -- */


.features {    
  color: #e2e3ed;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url(../img/rawpixel-800820-unsplash1.jpg);
  background-position: 47% 30%;
  background-size: 600%;
  
}

.features h2 {
  margin: 50px 0 0 0;
  
}

.features p {
  margin: 0;
  /* margin-bottom: 50px; */
  text-align: center;
}

/* this is the parent */
.features .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* width: 89%; */
  flex-basis: 89%;
  margin-bottom: 15px;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 64%;
  margin-top: 50px;
}

.features .features-item-description {
  margin-bottom: 50px;
}
.features .fontawesome-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}


/* -- REVIEWS -- */

.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #2a423a;
  color: #e2e3ed;
}

.reviews .content-wrapper {
  width: 89%;   /* flex-basis vs width? */
  border: dotted cadetblue 1px;
  margin: 50px 0;
}

.reviews h2 {
  margin: 0;
}

.review-image-placeholder {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: paleturquoise;
  margin-top: 25px;
}

.reviews p {
  margin-bottom: 0px;
}





/* ==========================================================================
   ==========================================================================
   -------  ABOUT page  ----  MOBILE  -----
   ==========================================================================
   ========================================================================== */


   .mission {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    background-color: #527158;
    color: #e2e3ed;
  }

  .mission h2 {
    margin: 0;
  }

  .mission-content p {
    border: dotted violet 1px;
    margin-top: 20px;
  }

  .mission .content-wrapper {
    width: 89%;
    margin: 50px 0;
  }

  .map-placeholder {
    width: 100%;
    height: 450px;
    background-color: papayawhip;
  }

  .contact-section {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    background-color: #2a423a;
    color: #e2e3ed;
    
  }

  .contact-section .content-wrapper {
    width: 89%;
    margin: 50px 0;
  }

  .contact-section h2 {
    margin: 0;
  }
  
  .contact-section address p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  }

  .contact-section .about-info {
    margin: 10px 0 10px 0;
  }

  .contact-section .chat {
    margin: 15px 0 10px 0;
  }




  /* ==========================================================================
   ==========================================================================
   -------  FAQ page  ----  MOBILE  -----
   ==========================================================================
   ========================================================================== */


   .faq {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    background-color: #527158;
    color: #e2e3ed;
  }
  
  .faq .content-wrapper {
    width: 89%;
    margin: 50px 0;
  }

  .faq-content h4, .faq h2, .faq-content p {
    margin: 0;
  }
 
  
  .faq h4 {
    margin: 50px 0 10px 0;
    font-size: 1.14em;
  }




  




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here */


  /* -- TABLET general styles -- */

  .content-wrapper {
    /* width: 83%; This is what I thought I should do. Why max-width instead of width: %?*/
    max-width: 640px;
    /* width: 83%; */
    margin: 100px 0;

  }

  /* -- TABLET Header -- */

  header {
    /* justify-content: space-around; [Skillcrush does this: why?] */
    
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .header-divider {
    width: 0%;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .hero-area .content-wrapper {
    align-items: flex-start;
  }


/* -- TABLET Aside (form) -- */

  aside {
    display: flex;
    justify-content: center;
    border: solid red 1px;
  }

  aside .content-wrapper {
    margin: 50px 0;
    justify-content: space-between;
    align-items: flex-start;
    border: solid blue 1px;
  }  

  .form-description, .form {
    margin: 0;
    width: 40%;
  }

  aside input {
    height: 40px;
  }
/* -- TABLET Features -- */

.features .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 89%;
}

.features .features-items {
  justify-content: space-between;
  align-items: start;
  width: 81%;
}

.features article {
  flex-flow: column wrap;
  flex-basis: 40%;
  align-items: center;
  margin: 26px 0
}

.fontawesome-icon {
  display: flex;
  justify-content: center;
}

.features-item-description {
  padding-top: 28px;
}

/* -- TABLET Reviews -- */

.reviews .content-wrapper {
  width: 89%;
  
}

.reviews .content-wrapper article {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: start; /*Why is this not working?*/
}

.review-image-placeholder {
  display: flex;
  height: 200px;
  width: 49%;
  background-color: paleturquoise;
}

.reviews-copy {
  width: 49%;
  display: flex;
  flex-flow: row wrap;
}


/* -- TABLET Footer -- */

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
  }

  footer p {
    margin: 0;
  }

  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer .social {
    width: 28%;
  }

  footer .copyright {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {

/* -- DESKTOP Base Styles -- */
  .content-wrapper {
    max-width: 940px;
  }

/* -- DESKTOP Header -- */

  header {
    margin: 22px 0;
  }

  header nav {
    width: 14%;
  }


/* -- DESKTOP Aside (form) -- */

  aside {
    display: flex;
    justify-content: center;
    border: solid red 1px;
  }

  aside .content-wrapper {
    max-width: 780px;
    /* margin: 50px 0; */
    margin: 50px 8.5%;
    justify-content: space-between;
    align-items: flex-start;
    border: solid blue 1px;
  }  

  aside input {
    height: 50px;
  }
  .form-description, .form {
    margin: 0;
    width: 41%;
  }

/* -- DESKTOP Features -- */






}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

